.dep
*.o
*.bin
*.eep
*.elf
*.hex
!util/bootloader.hex
!quantum/tools/eeprom_reset.hex
*.log
*.lss
*.lst
*.map
*.sym
*.swp
tags
*~
build/
.build/
*.bak
.vagrant/
quantum/version.h
.idea/
CMakeLists.txt
.DS_STORE
/util/wsl_downloaded

# Eclipse/PyCharm/Other IDE Settings
.cproject
.project
.settings/
.idea
.browse.VC.db*
*.stackdump
util/Win_Check_Output.txt
# Let these ones be user specific, since we have so many different configurations
.vscode/launch.json
.vscode/tasks.json
.stfolder

# ignore image files
*.png
*.jpg
*.gif

# mkpgk build files
**/msys2_packages/*/*.tar.xz
**/msys2_packages/*/*.tar.gz
**/msys2_packages/*/*.tar.bz2
**/msys2_packages/*/*.tgz
**/msys2_packages/*/*.zip
**/msys2_packages/*/*.rar
**/msys2_packages/*/*.sig
**/msys2_packages/*/*.asc
**/msys2_packages/*/*.log
**/msys2_packages/*/*.log.[0-9]*
**/msys2_packages/*/src/
**/msys2_packages/*/pkg/
**/msys2_packages/*/*~
**/msys2_packages/*/*.swp
**/msys2_packages/*/*.swo
